html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.header-nav {
  background-color: aqua;

  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .links {
    background-color: yellow;
    display: flex;
    width: 20%;
    li {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-around;
      a {
        text-decoration: none;
        width: 44px;
        height: 17px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

  .btn {
    display: flex;
    // flex: 1;
    // width: 30%;
    align-items: center;
    justify-content: space-around;

    margin-left: 20px;
    // width: 58px;
    height: 17px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    button {
      width: 175px;
      height: 39px;
      left: 1098px;
      top: 17px;

      background: #d21f3c;
      border-radius: 3px;
    }
  }
}

header {
  //   height: 10px;
  background-image: url('../img/headerBackgroundImg.svg');
  background-color: blue;
  background-repeat: no-repeat;
  //   background-size: 100% 800px;
  background-position: right;
  background-size: contain;
  position: relative;
  //   padding: 25px;
  height: 800px;

  .header-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 50%;
    align-items: flex-start;
    justify-content: space-evenly;
    // margin-top: 50px;

    h1 {
      background-color: red;
      font-size: 72px;
      font-weight: 500;
      margin-top: 150px;
      line-height: 88px;
    }
    p {
      background-color: seagreen;
      font-size: 24px;
      font-weight: 500;
      margin-top: 50px;
      line-height: 37px;
    }
    .header-btn {
      margin-top: 100px;
      display: flex;
      //   flex-direction: column;
      flex: 1;
      // width: 50%;
      align-items: flex-start;
      justify-content: space-evenly;

      button {
        margin-right: 20px;
        width: 274px;
        height: 56px;
        border-radius: 5px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 37px;
      }
    }
  }
}

main {
  background-image: url('../img/bannerImage.svg');
  background-color: rgb(251, 255, 0);
  background-repeat: no-repeat;
  //   background-size: 100% 800px;
  background-position: center;
  background-size: 100% 100%;
  position: relative;
  //   padding: 25px;
  height: 800px;
}

.article1,
.article2,
.article3 {
  background-color: sienna;

  display: flex;
  //   width: 40%;
  //   flex: 1;
  align-items: center;
  justify-content: space-around;
  margin: 100px;

  aside {
    display: flex;
    background-color: pink;
    width: 40%;
    img {
      width: 100%;
      height: auto;
    }
  }
  section {
    background-color: skyblue;
    width: 40%;
    display: flex;
    flex-direction: column;
    // flex: 1;
    align-content: flex-start;
    justify-content: flex-start;

    h1 {
      background-color: pink;

      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 37px;
    }
    p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 37px;
    }
  }
}

.article4 {
  background-color: orchid;
  display: flex;
  //   width: 40%;
  //   flex: 1;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;

  section {
    margin: 10px;
    h3 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 37px;
      /* or 77% */
    }
    p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
    }
    h4 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 20px;
      /* or 111% */
    }
  }
}

footer {
  background-color: palegreen;
  display: flex;
  //   width: 40%;
  //   flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;

  .footer1 {
    background-color: rgb(74, 201, 201);
    display: flex;
    width: 100%;
    flex: 1;
    // flex-direction: column;
    align-items: center;
    justify-content: space-between;

    p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      display: flex;
      align-items: center;

      color: #fcf8f8;
    }

    h3 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 37px;
      display: flex;
      align-items: center;

      color: #ffffff;
    }

    button {
      width: 257px;
      height: 66px;

      border: 2px solid #ffffff;
      box-sizing: border-box;
      border-radius: 4px;

      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      //   display: flex;
      //   align-items: center;

      color: #e5e5e5;
    }
  }

  nav {
    background-color: rgb(187, 43, 163);
    display: flex;
    //   width: 40%;
    //   flex: 1;
    // flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    // background-color: yellow;
    // display: flex;
    // width: 20%;
    li {
      width: 20%;
      display: flex;
      //   flex: 1;
      align-items: center;
      justify-content: space-around;
      a {
        text-decoration: none;
        // width: 44px;
        height: 17px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
      }
    }

    .social {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 20%;
      margin: 10px;
    }
  }
}
