html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.header-nav {
  background-color: aqua;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header-nav .links {
  background-color: yellow;
  display: flex;
  width: 20%;
}
.header-nav .links li {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
}
.header-nav .links li a {
  text-decoration: none;
  width: 44px;
  height: 17px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.header-nav .btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 20px;
  height: 17px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}
.header-nav .btn button {
  width: 175px;
  height: 39px;
  left: 1098px;
  top: 17px;
  background: #d21f3c;
  border-radius: 3px;
}
header {
  background-image: url('../img/headerBackgroundImg.svg');
  background-color: blue;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  position: relative;
  height: 800px;
}
header .header-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 50%;
  align-items: flex-start;
  justify-content: space-evenly;
}
header .header-content h1 {
  background-color: red;
  font-size: 72px;
  font-weight: 500;
  margin-top: 150px;
  line-height: 88px;
}
header .header-content p {
  background-color: seagreen;
  font-size: 24px;
  font-weight: 500;
  margin-top: 50px;
  line-height: 37px;
}
header .header-content .header-btn {
  margin-top: 100px;
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: space-evenly;
}
header .header-content .header-btn button {
  margin-right: 20px;
  width: 274px;
  height: 56px;
  border-radius: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
}
main {
  background-image: url('../img/bannerImage.svg');
  background-color: #fbff00;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: relative;
  height: 800px;
}
.article1,
.article2,
.article3 {
  background-color: sienna;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 100px;
}
.article1 aside,
.article2 aside,
.article3 aside {
  display: flex;
  background-color: pink;
  width: 40%;
}
.article1 aside img,
.article2 aside img,
.article3 aside img {
  width: 100%;
  height: auto;
}
.article1 section,
.article2 section,
.article3 section {
  background-color: skyblue;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
}
.article1 section h1,
.article2 section h1,
.article3 section h1 {
  background-color: pink;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 37px;
}
.article1 section p,
.article2 section p,
.article3 section p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 37px;
}
.article4 {
  background-color: orchid;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}
.article4 section {
  margin: 10px;
}
.article4 section h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 37px;
  /* or 77% */
}
.article4 section p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}
.article4 section h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  /* or 111% */
}
footer {
  background-color: palegreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}
footer .footer1 {
  background-color: #4ac9c9;
  display: flex;
  width: 100%;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}
footer .footer1 p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #fcf8f8;
}
footer .footer1 h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
footer .footer1 button {
  width: 257px;
  height: 66px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #e5e5e5;
}
footer nav {
  background-color: #bb2ba3;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
footer nav li {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer nav li a {
  text-decoration: none;
  height: 17px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
footer nav .social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  margin: 10px;
}
