html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
button {
  border: none;
  outline: none;
}
.container {
  font-size: 10px;
  max-width: 900px;
  margin: auto auto;
}
.header-nav {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 1rem;
  margin-top: 4rem;
  margin-bottom: -2rem;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-nav .links {
  display: flex;
  width: 20%;
}
.header-nav .links li {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
}
.header-nav .links li a {
  text-decoration: none;
  width: 4.4rem;
  height: 1.7rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 1.7rem;
  color: #000000;
}
.header-nav .btn .btn1 {
  width: 9rem;
  height: 3.9rem;
  margin-left: 1rem;
  background: #ffffff;
  color: #d21f3c;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.7rem;
}
.header-nav .btn .btn2 {
  width: 15rem;
  height: 3.9rem;
  margin-left: 1rem;
  background: #d21f3c;
  border-radius: 0.3rem;
  color: #fef7f7;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.7rem;
}
header {
  background-image: url('../img/headerBackgroundImg.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  position: relative;
  height: 80rem;
}
@media (max-width: 675px) {
  header {
    height: 50rem;
  }
}
header .header-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 50%;
  align-items: flex-start;
  justify-content: space-evenly;
}
@media (max-width: 675px) {
  header .header-content {
    width: auto;
  }
}
header .header-content h1 {
  font-size: 72px;
  font-weight: 500;
  margin-top: 150px;
  line-height: 88px;
}
header .header-content p {
  font-size: 24px;
  font-weight: 500;
  margin-top: 50px;
  line-height: 37px;
}
header .header-content h1 {
  font-size: 7.2rem;
  font-weight: 500;
  margin-top: 15rem;
  line-height: 8.8rem;
}
@media (max-width: 675px) {
  header .header-content h1 {
    color: blue;
    font-size: 5.5rem;
    font-weight: 500;
    margin-top: 10rem;
    line-height: 6rem;
  }
}
header .header-content p {
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 5rem;
  line-height: 3.7rem;
}
@media (max-width: 675px) {
  header .header-content p {
    font-size: 2rem;
  }
}
header .header-content .header-btn {
  margin-top: 5rem;
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: space-evenly;
}
header .header-content .header-btn button {
  margin-right: 2rem;
  width: 23rem;
  height: 4.5rem;
  border-radius: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3.7rem;
}
header .header-content .header-btn .btn1 {
  background: #d21f3c;
  border-radius: 0.5rem;
  color: #ffffff;
}
header .header-content .header-btn .btn2 {
  background: #ffffff;
  border: 0.3rem solid #d21f3c;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
main {
  background-image: url('../img/bannerImage.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: relative;
  height: 50rem;
  margin-bottom: -10rem;
}
.article1,
.article2,
.article3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10rem;
}
@media (max-width: 675px) {
  .article1,
  .article2,
  .article3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10rem auto;
  }
}
.article1 aside,
.article2 aside,
.article3 aside {
  display: flex;
  width: 40%;
}
.article1 aside img,
.article2 aside img,
.article3 aside img {
  width: 100%;
  height: auto;
}
@media (max-width: 675px) {
  .article1 aside,
  .article2 aside,
  .article3 aside {
    width: 80%;
  }
}
.article1 section,
.article2 section,
.article3 section {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
}
@media (max-width: 675px) {
  .article1 section,
  .article2 section,
  .article3 section {
    width: 80%;
  }
}
.article1 section h1,
.article2 section h1,
.article3 section h1 {
  color: #d21f3c;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 3.7rem;
}
.article1 section p,
.article2 section p,
.article3 section p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 3.7rem;
}
.article4 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}
@media (max-width: 675px) {
  .article4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 10rem;
  }
}
.article4 section {
  margin: 1rem;
}
@media (max-width: 675px) {
  .article4 section {
    margin: 3rem auto;
  }
}
.article4 section h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 5rem;
  line-height: 3.7rem;
  /* or 77% */
}
@media (max-width: 675px) {
  .article4 section h3 {
    font-size: 7rem;
  }
}
.article4 section p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (max-width: 675px) {
  .article4 section p {
    font-size: 2rem;
  }
}
.article4 section figure {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 4rem;
}
.article4 section figure .round-div {
  border-radius: 50%;
  background: #ffa987;
  width: 6rem;
  height: 6rem;
  margin-right: 2rem;
}
.article4 section figure .square-div {
  display: flex;
  flex: 2;
  flex-direction: column;
}
.article4 section figure .square-div h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2rem;
  /* or 111% */
}
footer {
  background: #d21f3c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10rem 0 4rem 0;
}
footer .footer1 {
  margin: 2rem 0;
  display: flex;
  width: 100%;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}
footer .footer1 p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.2rem;
  display: flex;
  align-items: center;
  margin: 0 4rem;
  color: #fcf8f8;
}
footer .footer1 h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.6rem;
  line-height: 3.7rem;
  display: flex;
  align-items: center;
  color: #ffffff;
}
footer .footer1 button {
  width: 24rem;
  height: 5.5rem;
  margin: 0 4rem;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 0.4rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 2.7rem;
  background: #d21f3c;
  color: #e5e5e5;
}
footer hr {
  width: 98%;
  border-color: #e5e5e5;
}
footer nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
footer nav li {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 4rem 4rem 4rem;
}
footer nav li a {
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.2rem;
  display: flex;
  align-items: center;
  color: #ffffff;
}
footer nav .social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  margin: 2rem 4rem 4rem 4rem;
}
